body,
html {
    overflow-x: hidden;
    background-color: #090025;
}

.join-waitlist-button {
    color: #371B89 !important;
    text-align: center;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    min-width: 192px;
    padding: 12px;
    border-radius: 66px;
    background: #FFF !important;
    box-shadow: 0px 0px 25.4px 10px rgba(255, 255, 255, 0.18);

}

.join-waitlist-button2 {
    color: #371B89 !important;
    text-align: center;
    font-family: Work Sans;
    font-weight: 700;
    line-height: normal;
    min-width: 192px;
    padding: 12px;
    border-radius: 66px;
    background: #FFF !important;
    box-shadow: 0px 0px 25.4px 10px rgba(255, 255, 255, 0.18);
}

.cst-button {
    background: rgba(255, 255, 255, 0.30);
    ;
    padding: 6px 12px;
    margin-bottom: 20px;
    background-image: linear-gradient(90deg, #0a0225, #0a0225),
        linear-gradient(90deg, hsl(289, 65%, 64%), hsl(226, 78%, 67%));
    background-clip: padding-box, border-box;
    background-origin: border-box;
    border-radius: 62px;
    border: 2px solid transparent;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;

}

.cst-para1 {
    font-weight: 600;
    font-size: 17px;
}

.cst-para2 {
    font-size: 14px;
    font-weight: 500;
}

.button__label {
    background-image: linear-gradient(to right, #8F72E2, #F9C575, #4394E1);
    -webkit-background-clip: text;
    font-weight: 400;
}



.main-hero-div h1 {
    color: #FFF;
    font-feature-settings: 'liga' off;
    font-family: Work Sans;
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px;
    /* 120% */
    letter-spacing: -1.5px;
}

.main-hero-div span {
    color: #AA8BFC;
}

.main-hero-div h3 {
    color: #FFF;
    font-family: Work Sans;
    font-size: 40px;
    font-weight: 600;
}

.payroll-and-compilance div {
    color: #FFF;
}

.footer-cst {
    background: url(assets/footerBottamImage.png);
    z-index: 300;
    bottom: 0px;
    position: relative;
    background-repeat: no-repeat;
}

.footer-cst p {
    color: #D1D5DB;
    text-align: center;
    font-feature-settings: 'liga' off;
    font-family: Work Sans;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.footer-main-flex {
    justify-content: space-between;
}

.mobile-gap {
    gap: 16px;
}

.display-not-for-desktop {
    display: none;
}

.typewriter {
    overflow: hidden;
    /* border-right: 0.15em solid #AA8BFC; */
    white-space: nowrap;
    display: inline-block;
    animation: typing 2s steps(20, end);
}

.payroll-buttons-manage {
    gap: 12px;
}

@keyframes typing {
    from {
        width: 0;
    }

    to {
        width: 100%;
    }
}

@media (min-width: 1600px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1500px;
    }
}

@media (max-width: 1399.98px) {

    .main-hero-div h1 {
        color: #FFF;
        font-feature-settings: 'liga' off;
        font-family: Work Sans;
        font-size: 50px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.75px;
    }

    .main-hero-div h3 {
        font-size: 28px;
    }

    .footer-cst p {
        font-size: 14px;
    }

    .cst-para1 {
        font-weight: 600;
    }

    .cst-para2 {
        font-size: 13px;
        font-weight: 500;
    }
}

@media (max-width: 1199.98px) {}

@media (max-width: 991.98px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {
    .join-waitlist-button {
        min-width: 149px;
        padding: 12px;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
    }

    .join-waitlist-button2 {
        min-width: 192px;
        padding: 12px;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
    }

    .footer-main-flex {
        flex-direction: column;
        align-items: center;
    }

    .dislay-desktop {
        display: none;
    }

    .main-hero-div h3 {
        color: #F0F0F0;
        font-feature-settings: 'liga' off;
        font-family: Work Sans;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .center-button-on-mobile {
        text-align: center;
        margin-bottom: 20px;
    }

    .join-waitlist-button {
        font-size: 16px;
    }

    .join-waitlist-button2 {
        font-size: 16px;
    }

    .mobile-gap {
        gap: 0px;
        justify-content: center;
    }

    .display-not-for-desktop {
        display: block;
        /* width: 72%; */
        text-align: center;
        margin-top: 20px;
    }

    .main-hero-div h1 {
        color: #FFF;
        font-feature-settings: 'liga' off;
        font-family: Work Sans;
        font-size: 34px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: -0.75px;
    }

    .payroll-buttons-manage {
        gap: 12px;
        width: 100%;
    }
}